header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 1px #9A8A7B;
}

.header__inner-title {
    font-family: Inika;
    font-size: 40px;
    color: #9A8A7B;
}

.header__inner-nav {}

.header__inner-nav-list {
    background-color: rgb(246, 246, 246);
    font-family: Inika;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 0.5em;
    right: 0;
    text-transform: uppercase;
    border: 1px solid rgb(236, 230, 224);
    transition: .3s;
}

.header__inner-nav-list a {

    text-decoration: none;
    color: rgb(236, 230, 224);
}

.register__content {
    background-color: rgb(241, 236, 230);
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__content-inner {
    display: flex;
    font-family: Inika;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #9A8A7B;
    background-color: white;
    width: 50%;


}

.register__contet-inner-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__top-title {
    font-family: Inika;
    color: #8B7969;
    font-size: 35px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
}



.form-group {
    margin-bottom: 20px;
    width: 100%;
}

form .form-group:last-child {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    background-color: #F4F4F4;
}

button {
    background-color: #82756A;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.error {
    color: #ff0000;
    font-size: 14px;
}